# =========================
# Output plots (Python)
# =========================
plots/
*.png

# ❗ Eccezione: voglio le immagini in source/figures 
!source/figures/
!source/figures/**/*.png

# =========================
# LaTeX build files  in folder report (.aux, .log, .out, .toc, .lof, .lot, .fls, .fdb_latexmk)
# =========================
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.lof
report/*.lot
report/*.fls
report/*.fdb_latexmk
report/*.synctex.gz
report/*.bbl

# =========================
# Python cache
# =========================
__pycache__/
*.pyc

# =========================
# Editor / OS
# =========================
*.swp
.DS_Store
